.form-carousel__container {
  border: none;
  button {
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    border: 1px solid black;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    margin-top: 8rem;
    background-color: #80808000;
    outline: 0;
    @media (max-width: 1400px) {
      margin: 0 0 1rem 0;
    }
  }
}

  .allStep {
    background-image: url("../../assets/Background-Form.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 5rem;
    height: 85vh;
    @media (max-width: 1400px) {
      height: 100vh;
    }
    .importantInformation {
      background-color: #FAD648;
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 2rem 0 0 5rem;
      }
      p {
        padding: 1rem 0 2rem 5rem;
      }
    }

    .step {
      padding: 1rem 0 2rem 5rem;
      p{
        margin: 1rem 0 2rem 0;
        font-weight: lighter;
      }
      h1 {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 3rem;
      }
      label {
        margin: 0 0 1rem 1.5rem;
        font-weight: lighter;
      }
      input {
        margin-bottom: 1.5rem;
        }
      }
    .secondStep {
      label {
        margin: 0 1rem 0 0;
      }
      select {
        width: 180px;
        text-align: center;
        border: 1px solid black;
        padding: 0.5rem 1rem;
        outline: 0;
      }
    }
    .thirdStep {
      h1 {
        margin-bottom: 0;
      }

    }
  }
  .pickupAddress {
    display: flex;
    .firstColumn {
      margin-right: 2rem;
    }
    .columnAd {
      text-align: right;
      label {
        margin-right: 1rem;
        outline: 0;
      }
      p{
        margin-right: 1rem;
        outline: 0;
      }
      h2 {
        margin: 0.5rem 1rem 2rem 0;
        text-align: left;
      }
    }

  }

  .lastInpInfo {
      background-color: #FAD648;
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 3rem 0 3rem 5rem;
      }
      p {
        padding: 1rem 0 2rem 5rem;
      }
    }

.summaryInformation {
  h2 {
    margin: 0.5rem 1rem 2rem 3rem;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
  }
  p{
    margin: 0 0 2rem 6rem;
  }
  img {
    width: 2rem;
    position: relative;
    top: 5rem;
    left: 3rem;
  }
  .iconTwo {
    width: 2rem;
    position: relative;
    top: 1.5rem;
    left: 3rem;
  }
  .firstColumn {
    margin-right: 2rem;
  }
  .allColumnSummary{
    display: flex;
  }
  .columnAd {
    p{
      margin-right: 1rem;
      outline: 0;
    }
    h2 {

    }
  }
}

.thirdStep {
  select {
    margin-bottom: 2rem;
  }
  input {
    //visibility: hidden;
  }
  label {
    border: 1px solid;
    padding: 0.5rem 1rem;
  }
  textarea {
    resize: none;
    width: 19rem;
  };
}




.default-style-module_navcontainer__1c3i1 button {
  margin-left: 5rem;
}

//MediaQueries

@media (max-width: 1400px) {
  .allStep .step {
    padding: 1rem 0 0 5rem;
  }
  .allStep .step h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}


//.style-module_container__1FUJO {
//
//}
//.default-style-module_form__page__15AqX {
//}

//.form-carousel {
//  transition: height 1s;
//}
//
//.form-carousel__page {
//  /*
//  padding: 10px;
//  text-align: center;
//  */
//}
//
//.form-carousel__nav-container {
//  /*
//  padding: 10px;
//  padding-top: 0;
//  text-align: center;
//  */
//}
//
//.form-carousel__nav-container button {
//  /*
//  padding: 2px 5px;
//  margin: 0 5px;
//  width: 100px;
//} */
//}
//
.form-carousel__nav-container button.hide {
  display: none;
}

