//<div.form-carousel__container>
//    <div.form-carousel>
//        <div.form-carousel__page>
//            Content
//        </div.form-carousel__page>
//        ...
//        <div.form-carousel__page>
//            Content
//        </div.form-carousel__page>
//        </div.form-carousel>
//    <div.form-carousel__nav-container>
//        <button(.hide)>Prev</button>
//        <button>Next<button/>
//    </div.form-carousel__nav-container>
//</div.form-carousel__container>
//


.form-carousel__container {
  height: 65vh;
  border: none;
}

.form-carousel {
  transition: height 0.6s;
}

.form-carousel__page {
  /*
  padding: 10px;
  text-align: center;
  */
}

.form-carousel__nav-container {
  /*
  padding: 10px;
  padding-top: 0;
  text-align: center;
  */
}

.form-carousel__nav-container button {
  /*
  padding: 2px 5px;
  margin: 0 5px;
  width: 100px;
} */
}

.form-carousel__nav-container button.hide {
}

.giveBackForm {
  background-image: url("../../assets/Background-Form.jpg");
  background-size: cover;
  height: 65vh;
}
.style-module_container__1FUJO {
  width: 100%;
  border: none;
}
